<% layout('layout/layout.main') %>
<h1>Thông tin tẩy giun</h1>

<form class="deworming-form" action="deworming">
    <div style="margin-top: 36px;" >
        <label for="deworming-name">Tên thú cưng</label></br>
        <input class="deworming-input" type="text" name="" readonly id="pet-name" value="<%= petInfo.name %>"  required></br>
    </div>
    <div>
        <label for="deworming-date">Ngày tẩy giun</label></br>
        <input class="deworming-input" type="date" name="" id="deworming-date" required></br>
    </div>
    <div>
        <label for="deworming-medicine">Loại thuốc sử dụng</label></br>
        <input class="deworming-input" type="text" name="" id="deworming-medicine" p required></br>
    </div>

    <button id="submit-btn" type="submit">Nhập dữ liệu</button>
</form>

<!-- Script -->
<script src="/public/js/form/deworming.js"></script>
