<% layout('layout/layout.main') %>

<!-- TODO-MANH: create medical-history FORM  -->
<h1>Thông tin thăm khám</h1>

<form class="medical-form" action="medical-history">
    <div style="margin-top: 36px;" >
        <label for="user-name">Tên khách hàng</label></br>
        <input class="medical-input" type="text" name="" id="user-name"  required></br>
    </div>
    <div>
        <label for="pet-name">Tên thú cưng</label></br>
        <input class="medical-input" type="text" name="" id="pet-name"  required></br>
    </div>
    <div>
        <label for="pet-id">ID thú cưng</label></br>
        <input class="medical-input" type="text" name="" id="pet-id"  required></br>
    </div>
    <div>
        <label for="medical-date">Ngày thăm khám</label></br>
        <input class="medical-input" type="date" name="" id="medical-date" required></br>
    </div>
    <div>
        <label for="medical-note">Ghi chú</label></br>
        <input class="medical-input"  type="text" name="" id="medical-note" p required></br>
    </div>
    
    <button id="submit-btn" type="submit" >Nhập dữ liệu</button>
</form>
