<% layout('layout/layout.main') %>
<!-- TODO: design content create customer here -->
<div class="full-height">
  <div class="detail-title-card">Mẫu tạo khách hàng</div>
  <form action="">
    <!-- Form Info Customer -->
    <div class="detail-form">
      <input type="text" class="form-control" placeholder="Name" id="name" name="name" />
      <input type="text" class="form-control" placeholder="Fullname" id="fullname" name="fullname" />
      <input type="text" class="form-control" placeholder="Phone" id="phone" name="phone" />
      <input type="text" class="form-control" placeholder="Address" id="address" name="address" />
    </div>
  </form>
  <div class="d-flex justify-content-end">
    <button type="button" id="create_customer_btn" class="btn btn-success">Tạo khách hàng</button>
  </div>
</div>

<!-- Javascript DOM -->
<script src="/public/js/customer/create.js"></script>
