<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boiler</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/_app.css" />
    <link rel="stylesheet" href="/public/css/all.min.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main class="root">
      <div class="container"><%- body %></div>
    </main>
    <!-- Javascript Library -->
    <script src="/public/js/all.min.js"></script>
    <script src="/public/js/axios.min.js"></script>
    <script src="/public/js/moment.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/scripts.js"></script>
  </body>
</html>
