:root{
  --bg-main:#161c24;
  --bg-card:#212b36;
  --border-color:#45505b;
}


.detail-info-container{
  background-color: var(--bg-card);
  width:100%;
  border-radius: 16px;
  padding: 5%;
}

.detail-title-card{
  border-radius: 8px;
  padding:8px 0px;
  margin:6px 0;
  text-align: center;
  font-size:24px;
  font-weight: 700;
}

.detail-form{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

input[type=text]{
  flex-basis: 48%;
  background-color: transparent;
  color:white;
  border-color: var(--border-color);
  margin:16px 0;
}

input[type=text]:focus-within{
  background-color: transparent;
  color:white;
}

hr{
  background-color:var(--border-color) ;
}

.avatar-container{
  flex-basis:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.avatar{
  vertical-align: middle;
  width: 80%;
  border-radius: 50%;
}
.btn-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

table {
  border-spacing: 0px;
  }

thead{
  background-color: var(--border-color);
  border-color: transparent;
  border-radius: 8px;
}

.pagination-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#btn-pagination{
  margin-left:30px;
}

.btn-back{
  background: transparent; border: none;
}
.btn-next{
  background: transparent; border: none;
}

.btn-disabled{
  opacity: 0.5;
}

