@font-face {
    font-family: "PublicSans";
    src: url(/public/assets/font/static/PublicSans-Regular.ttf);
}

@font-face {
    font-family: "PublicSans";
    font-weight: bold;
    src: url(/public/assets/font/static/PublicSans-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PublicSans, serif;
}
body{
    height: 100vh;
    background-color: rgba(22, 28, 36, 1);
    
    
}
h1{
    margin-top: 5%;
    height: 10%;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
}

.immunization-form{
    background-color: #212b36;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
}

.immunization-form div{
    
    width: 80%;
}

.immunization-input{
    margin-bottom: 16px;
    height: 48px;
    width: 100%;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    background-color: #212b36;
    padding-left: 24px;
    color: rgba(255, 255, 255, 1);
    margin-top: 12px;
}

#submit-btn{
    width:40%;
    background-color: rgba(0,171,85);
    padding-left: 0px;
    height: 48px;
}

form div label{
    color: rgba(255, 255, 255, 1);
    
}