@font-face {
    font-family: "PublicSans";
    src: url(/public/assets/font/static/PublicSans-Regular.ttf);
}

@font-face {
    font-family: "PublicSans";
    font-weight: bold;
    src: url(/public/assets/font/static/PublicSans-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PublicSans, serif;
}
body{
    height: 100vh;
    background-color: rgba(22, 28, 36, 1);
    
}
table{
    background-color: rgba(33, 43, 54, 1)
}