<% layout('layout/layout.auth') %>
<!-- Body -->
<div id="reset-form">
  <h1 style="line-height: 36px; font-weight: 700; font-size: 36px">Bạn đã quên mật khẩu của mình?</h1>
  <p style="font-weight: 400; font-size: 20px">Nhập Tên Đăng Nhập của bạn xuống dưới đây, chúng tôi sẽ gửi cho admin để lấy lại mật khẩu cho bạn.</p>
  <input type="email" name="" id="" placeholder="Tên đăng nhập" />
  <button type="submit">Gửi</button>
  <a href="">Quay lại</a>
</div>
